@model IEnumerable<Hotel>
@{
    List<string> allLocations = ViewData["AllLocations"] as List<string>;
}

<h1>Summit Slope Retreats</h1>

<h3>All Hotels</h3>
<span>Locations:</span>@foreach(var location in allLocations)
{
   <a href ="/hotels?location=@location">@location</a> <span>|</span>
}
<a href="/hotels">All Hotels</a> |

<ul>
@foreach (var hotel in Model)
{
    <li>
        <strong>Name:</strong> @hotel.Name, <strong>Location:</strong> @hotel.Location
    </li>
}
</ul>

<a href ="/hotels/new">Add Hotel</a>